<%- include('partials/header'); -%>


    

<!-- 
<audio autoplay  > 
    <source src="../../audio/beauty.mp3" type="audio/mp3">
 
  </audio> -->
  
  <div class="container">

        

    <pre> Not many have loved me.   
      But i will love you....</pre>
    
    
    </div>

 <div class="container-fluid">
      <p> We are engaged for a fairer dog world  <br>
       Dogs are our priority because you are our priority <br> 
        and no one takes more care of you than our  <b>beautiful buddy</b>  !</p>
      
 </div>







  
<%- include('partials/footer'); -%>
