<%- include('partials/header'); -%>


<div class="no_one_has">

    <pre> Not many have loved me.   
              But i will love you....</pre>
     
</div>

<!-- 
<audio autoplay  > 
    <source src="../../audio/beauty.mp3" type="audio/mp3">
 
  </audio> -->
  
<%- include('partials/footer'); -%>
