<%- include('partials/header'); -%>


    

<!-- 
<audio autoplay  > 
    <source src="../../audio/beauty.mp3" type="audio/mp3">
 
  </audio> -->
  
  <div class="container">

        

    <pre> Not many have loved me.   
      But i will love you....</pre>
    
    
    </div>

 <div class="container-fluid">
      <p class="fairworld"> We are engaged for a fairer dog world.  <br>
       Dogs are our priority because you are our priority <br> 
        and no one takes more care of you than our  <b>beautiful buddy</b>  !</p>
      
 </div>

<div class="slidecarousel">
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="250000">
  <!--Indicators-->
 
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="carousel-image" src="../public/images/white lover.jpg" alt="First slide">
        <div class="mask rgba-black-light"></div>
        <p class="first">One friend forever...</p>
      </div> 
    </div>

    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="carousel-image"    src="../public/images/puppyuplook.jpg" alt="Second slide">
        <div class="mask rgba-black-strong"></div>
        <p class="second">Who needs you..</p>
      </div>
    </div>

    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="carousel-image" src="../public/images/whiteblack.jpg" alt="Third slide">
        <div class="mask rgba-black-slight"></div>
        <p class="third">Who knows you..</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

</div>

  
<%- include('partials/footer'); -%>
