 body{ 
    background: url(../../images/hein-dog.jpg) top center / cover no-repeat;
}

img.logo{   
    height: auto;
    width: auto;
    max-width: 5.5vw;
    margin-left: 2vw;
}
.navbar{ 
    background-color: rgba(160, 160, 160, 0.15);
    border-color: #E7E7E7;
    margin-bottom: 18px;
    border-top: 18px;
}
  
 #navybar #logo-letters{
    font-size: 3vw;
    font-weight: bolder;
}  

.navbar, .dropdown-menu{
    font-size: 1.5vw;;
}
.dropdown-menu{
    background-color:  rgba(255, 255, 255, 0.02);
}
a.dropdown-item:hover{
    background-color:  rgba(195, 255, 0, 0.739);
}


/* Body */
 
/* --------- Body ------------ */
pre, #logo-letters{
    font-family: 'Indie Flower', cursive;
    font-size: 2.6vw;
}

pre{
 
    height: 11vw;
    width: 36vw;
    position: absolute;
    right: 6%;
    top:35%;

}

 
