 body{ 
    background: url(../../images/hein-dog.jpg) top center / cover no-repeat;
}

img.logo{   
    height: auto;
    width: auto;
    max-width: 50px;
    margin-left: 20px;
}
.navbar{ 
    background-color: rgba(160, 160, 160, 0.15);
    border-color: #E7E7E7;
    margin-bottom: 18px;
    border-top: 18px;
}
  
 #navybar #logo-letters{
    font-size: 1.3rem;
    font-weight: bolder;
} 
  

.dropdown-menu{
    background-color:  rgba(255, 255, 255, 0.02);
}
dropdown-item.a:hover{
    background-color:  rgba(255, 255, 255, 32);
}


/* Body */

.no_one_has;{
    position: absolute;
    top: 30%;
    left: 10%;   
}

/* --------- Body ------------ */
pre, #logo-letters{
    font-family: 'Indie Flower', cursive;
    font-size: 1.1rem;
}

pre{
position: relative;
}

 
